body{
    background-color: lightskyblue;
}

body header h1 {
  text-align: center;
  font-size: 70px;
  color: rgb(50, 120 , 60)
}

 nav ul li {
    display: inline;
    word-spacing: 20px;
 }

nav ul {
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 30px;
}

main section h1 {
    text-align: center;
    font-size: 50px;
    color: brown;
}

.fun img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.quo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px; 
}
footer{
    padding-top: 60px;
}

p {
    font-size: 120%;
}
h3{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

header p {
  font-size: 60px;
  text-align: center;
}