body{
    background-color: lightskyblue;
}

body header h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(50, 120 , 60)
}

header nav ul li {
    display: inline;
    word-spacing: 20px;
    text-align: left;
    
}
main section h1 {
    text-align: left;
    font-size: 45px;
    color: brown;
}

.fun img.fun{

}